# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

start mapmanager
start chat
start spawnmanager
start hardcap
start rconlog
start mysql-async
start ft_gamemode
start foodhud
start InteractSound
start skins


sv_scriptHookAllowed 1

# change this
rcon_password wqazsxcde

sv_hostname "^5|^0FR^1|^0 LMC RP - FX ^5|^0FR^1| ^3| ^0[^3DEV^0]"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon lmc.png

# convars for use from script
#set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
sv_authMaxVariance 1
sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:11000010bf63733 group.admin # add the admin to the group

# hide player endpoints in external log output
#sv_endpointprivacy true

set mysql_connection_string "server=127.0.0.1;database=gta5_gamemode_essential;userid=root;password=1202"